<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siłownia</title>
</head>

<body>
    <h1>Formularz zgłoszeniowy do klubu fitness</h1>
    <form action="process" method="post" id="mainForm">
        <fieldset class="contactSet">
            <legend>Dane kontaktowe</legend>
            <div>
                <label for="first_name_input">Imię</label>
                <input id="first_name_input" name="first_name" type="text" required>
            </div>
            <div>
                <label for="surname_input">Nazwisko</label>
                <input id="surname_input" name="surname" type="text" required>
            </div>
            <div>
                <label for="email_input">Email</label>
                <input id="email_input" name="email" type="email" required>
            </div>
            <div>
                <label for="phone_input">Telefon</label>
                <input id="phone_input" name="phone" type="tel" required>
            </div>
        </fieldset>
        <fieldset>
            <label for="frequencyInput"><b>Jak często w tygodniu chcesz przychodzić do klubu?</b></label>
            <select id="frequencyInput" name="frequency">
                {% for i in range(start=1, end=11) %}
                {% if i % 2 == 0 %}
                <option>{{i}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <fieldset>
                <legend>Pasuje mi dzień:</legend>
                <div>
                    <input type="checkbox" name="mon" id="monCheck" value="true">
                    <label for="monCheck">Poniedziałek</label>
                </div>
                <div>
                    <input type="checkbox" name="tue" id="tueCheck" value="true">
                    <label for="tueCheck">Wtorek</label>
                </div>
                <div>
                    <input type="checkbox" name="wed" id="wedCheck" value="true">
                    <label for="wedCheck">Środa</label>
                </div>
                <div>
                    <input type="checkbox" name="thu" id="thuCheck" value="true">
                    <label for="thuCheck">Czwartek</label>
                </div>
                <div>
                    <input type="checkbox" name="fri" id="friCheck" value="true">
                    <label for="friCheck">Piątek</label>
                </div>
                <div>
                    <input type="checkbox" name="sat" id="satCheck" value="true">
                    <label for="satCheck">Sobota</label>
                </div>
                <div>
                    <input type="checkbox" name="sun" id="sunCheck" value="true">
                    <label for="sunCheck">Niedziela</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Odpowiadają mi godziny:</legend>
                <select name="hours">
                    <option value="Morning">Poranne</option>
                    <option value="Afternoon">Popołudniowe</option>
                    <option value="Evening">Wieczorne</option>
                </select>
            </fieldset>
            <textarea name="interests" placeholder="Jakimi zajęciami jesteś zainteresowany/a?"></textarea>
        </fieldset>
        <fieldset>
            <legend>Wyrażam zgodę na przetwarzanie danych osobowych:</legend>
            <input type="radio" id="legal_bs_yes" name="legal_bs" value="true">
            <label for="legal_bs_yes">Tak</label>
            <input type="radio" id="legal_bs_no" name="legal_bs" value="false">
            <label for="legal_bs_no">Nie</label>
        </fieldset>
        <button type="submit">Podsumowanie</button>
        <input type="reset" id="clearFormButton">
    </form>
</body>
<style>
    textarea {
        width: 40ch;
        height: 20ch;
    }

    button {
        margin-top: 1em;
    }

    fieldset {
        margin: 1em;
    }

    h1 {
        text-align: center;
    }
</style>

</html>